{% extends 'Admin/layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"></h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Lois</li>
              </ol>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Lois</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Identifiant</th>
                  <th scope="col" class="sort" data-sort="email">Titre</th>
                  <th scope="col" class="sort" data-sort="secteur">Descriptif</th>
                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody class="list">

               {% for l in lois %}

               <tr>
                    <th scope="row">
                     {{ l.id }}
                    </th>
                    <td>
                     {{ l.titre }}
                    </td>
                    <td>
                     {{ l.descriptif }}
                    </td>

                    <td>

                        <a href="/supp/{{ l.id }}" style="text-align:center; color: red;"> Supprimer </a>

                    </td>
                  </tr>

               {% endfor %}

              </tbody>
            </table>
          </div>
          <!-- Card footer -->
        </div>
      </div>
    </div>


    {% include "Admin/includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
