{% extends 'Admin/layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"></h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
              </ol>
            </nav>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Utilisateurs</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name" style="text-align:center;">Nom</th>
                  <th scope="col" class="sort" data-sort="email" style="text-align:center;">E-Mail</th>
                  <th scope="col" class="sort" data-sort="secteur" style="text-align:center;">Entreprise</th>
                  <th scope="col" class="sort" data-sort="test" style="text-align:center;">Numéro fiscale</th>
                  <th scope="col" style="text-align:center;">Payement</th>
                  <th scope="col" style="text-align:center;">Action</th>

                </tr>
              </thead>
              <tbody class="list">
            {% for u in users %}
               <tr>
                    <th scope="row" style="text-align:center;">
                      {{ u.id_user.username }}
                    </th>
                    <td style="text-align:center;">
                      {{ u.id_user.email }}
                    </td>
                    <td style="text-align:center;">
                      {{ u.raison}}
                    </td>
                    <td style="text-align:center;">
                      {{ u.num_fisc }}
                    </td>
                    <td style="text-align:center;">

                      {% if u.is_valid %}
                      <i class="ni ni-check-bold text-success mr-3"></i>

                      {% else %}


                      {% endif %}
                    </td>

                   <td style="text-align:center;">

                       <a href="/valider/{{ u.id_user.username }}" style="text-align:center; color: green;"> Valider  </a> &nbsp;&nbsp;


                       <a href="/delete/{{ u.id_user.username }}" style="text-align:center; color: red;"> Bloquer  </a>
                   </td>
                  </tr>
{% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->

        </div>
      </div>
    </div>


    {% include "Admin/includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
