{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/admin">
        <img src="{% static 'images/unilogo.png' %}" class="navbar-brand-img" alt="Unidees">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/admin">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/users">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Utilisateurs</span>
            </a>
          </li>

          <hr class="my-3">
           <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/normes">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Liste des normes</span>
            </a>
          </li>
             <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/ajout/norme">
              <i class="fa fa-plus"></i>
              <span class="nav-link-text">Ajouter une norme</span>
            </a>
          </li>

          <hr class="my-3">
           <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/lois">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Liste des lois</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/ajout/loi">
              <i class="fa fa-plus"></i>
              <span class="nav-link-text">Ajouter une loi</span>
            </a>
          </li>



          <hr class="my-3">

          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/admins">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Liste des admin</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/ajout/admin">
              <i class="fa fa-plus"></i>
              <span class="nav-link-text">Ajouter un admin</span>
            </a>
          </li>

        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->

        </ul>
      </div>
    </div>
  </div>
</nav>