@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{

}



/* SIDEBAR */
.wrapper .sidebar{
    background: rgb(20,20,20); /* couleur du sidebar */
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    padding: 20px 0;
    z-index:1;
    overflow-y: scroll;
    scrollbar-color: #9aa898 #d5d2d3;
    transition: all 0.3s ease;
}

/* STYLE DU SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c8ccc8;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #b7b7b7;
}

/* SIDEBAR ELEMENTS */

.wrapper .sidebar ul li a{
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(61,61,61);
    color: #b1cc9f;
    font-size: 16px;
    position: relative;
}


.wrapper .sidebar ul ul li a{
   line-height: 15px;
   font-size: 15px;
   padding-left: 20px;
   color: #c3c3c3;


}

.wrapper .sidebar ul .chap-show.show{
display: block;
}

.wrapper .sidebar ul li a i{
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-40%);
   font-size: 15px;

}
.wrapper .sidebar ul li a:hover i{
   transform: translateY(-40%) rotate(-180deg);

}



.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #3e7a3b;
    border-left-color: #3e7a3b;

    background: #f0f0f0;
    border-right: 2px solid  #3e7a3b;
}



.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

/*       Navbar            */
.wrapper .section{
    width: 80%;
    margin-left: 20%;
   transition: all 0.3s ease;
}

.wrapper .section .top_navbar{
    background: rgb(20,20,20);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 0px;
    border-bottom:1px solid rgb(20,20,20);
    position: relative;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 20px;
    color: #c3c3c3;
    margin-left: 8px;


}

.wrapper .section .top_navbar .hamburger a:hover{
    color:  #b1cc9f;  /* COULEUR VERT */
}


.wrapper .section .top_navbar .logo a{

    margin-left: 20px;
    width:10%;
    height: 100%;
}


/* LES CHANGEMENTS APRES CLICK SUR HAMBURGER */
body.active .wrapper .sidebar{
    left: -20%;
    transition: all 0.3s ease;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
    transition: all 0.3s ease;
}

body.active .wrapper .content .card{
    margin-left: 15%;
}



/* MAIN */

.wrapper .content {
    margin-top: 0px;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    z-index:1;

}

.wrapper .content .image{
  background:  #eaeaeb /*url('/static/images/bg.jpg') no-repeat */;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  transition: all 0.3s ease;
  filter: blur(2px);
}



/* CARD */

.wrapper .content .card{
     width: 70%;
     height: 80%;
     position: fixed;
     box-shadow: 0px 0px 0px rgb(5, 68, 104) ;
     border-radius: 5px;
     margin-left : 25%;
     margin-top: 50px;
     border: 1px solid rgb(194,194,194);
     transition: all 0.3s ease;
     background-color: rgb(232,232,232);
     overflow-y: scroll;
     scrollbar-color: #9aa898 #d5d2d3;
    }

.wrapper .content .card .card-body{
   /*1*/
  padding: 15px 20px; /*2*/
  box-sizing: border-box; /*3*/

}
.card-title, .card-descri, .card-quizz{
   font-family: 'Playfair Display', serif;
}

.card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 20px;
}
.card-title a{
  color: #3e7a3b;
}

.point {
  color: #6ba868;
  text-align:center;
  margin-bottom: 15px;
}

.card-descri {
  color: #000000;
  text-align:center;
  margin-bottom: 20px;
}

.card-quizz{
 text-align:center;
  margin-top: 30px;
}



.card-quizz ul li{
 font-size: 16px;
 margin-bottom: 30px;
 border: 1px solid #CFD3DF;
 border-radius: 10px;
 padding: 10px;
 display: block;



}

.card-quizz ul li .inline-block{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.card-quizz ul li .inline-block .question{
grid-column: 1;
grid-row: 1;
}
.card-quizz ul li .inline-block .yesno{
grid-column: 2 ;
grid-row: 1;
}
.card-quizz ul li .inline-block .comment{
grid-column: 3 ;
grid-row: 1;
}


/* CARD FOOTER */
.card-footer{
 margin-top: 20px;
 text-align: right;
 margin-right: 30px;
 position: relative;

}

.card-footer a {
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
  font-size: 20px;
  position: center;

}

.card-footer a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #e8e8e8;
  color: black;
}

.next {
  background-color: #6ba868;
  color: white;
}

.round {
  border-radius: 50%;
}



form{
display: inline-block;
}

.row {
display: inline-block;
}


.custom-search-input {

  border: none;
  border-bottom: 1px solid rgb(194,194,194);
  background: transparent;
  outline: none;
  padding-bottom: 5px;

  text-indent: 10px;
  width: 70%;
}
.custom-search-input:focus{
  border: none;
  border-bottom: 2px solid rgb(194,194,194);


  background: transparent;
  outline: none;
  padding-bottom: 5px;

  text-indent: 10px;
  width: 82%;

}

