<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto-diagnosis</title>
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/unilogo.png' %}"/>

<!-- style links   -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="https://kit.fontawesome.com/50394fcad9.js" crossorigin="anonymous"></script>


</head>
<body>




    <div class="wrapper">



            <div class="hamburger">
                <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>


            </div>

    <div class="header__menu">
    <nav id="navbar" class="header__nav collapse">
      <ul class="header__elenco">
        <li class="header__el"><a href="/home/" class="header__link">Acceuil</a></li>
         <li class="header__el"><a href="/norme/" class="header__link">Normes</a></li>
        <li class="header__el"><a href="/loi/" class="header__link">Lois</a></li>
        <li class="header__el"><a href="/historique" class="header__link">Historique</a></li>

        <li class="header__el"><a href="/logout/" class="header__link">Se déconnecter</a></li>
        <li class="header__el header__el--blue"><a href="#" class="btn btn--white">{{ request.user.username }}</a></li>

      </ul>
    </nav>
  </div>






<!--   SIDEBAR     -->
        <nav id="sidebar" class="sidebar">
<!-- Items-->

         <div class="sidebar-menu">
           <ul>
               {% for c in chapitres %}
            <li class="sidebar-dropdown" id="lichap">
                {% if c == point.id_chap %}
              <a href="#" class=" active"  name="sidebarchap" id="{{c.id_chap}}">{{forloop.counter}} . {{ c.titre }} </a>
                 {% else %}
                 <a href="#"  name="sidebarchap"  id="{{c.id_chap}}" >{{forloop.counter}} . {{ c.titre }} </a>
               {%endif%}

            </li>

               {% endfor %}
           </ul>
         </div>

        </nav>



<!--  CONTENUE   -->
        <div class="content">
<!--   Background image/color    -->



<!--  CARD/QUESTIONNAIRE     -->


           <div class="card" id="output">
              <div class="card-body">
                <div class="card-title" id="msg">
                    <h1>
                         <a href="#" > <abbr id="chap" title="{{ point.id_chap.descriptif}}"> &nbsp;{{ point.id_chap }} </abbr></a>
                    </h1>
                </div>

              {% if point.id_Sc1 != None %}
                <div class="card-title" >
                   <h2>
                         <a href="#"> <abbr id="sc1" title="{{point.id_Sc1.objectif}}" > &nbsp;{{ point.id_Sc1 }} </abbr></a>
                   </h2>
                </div>

                {% if point.id_Sc2 != None %}
                <div class="card-title" >
                   <h3>
                         <a href="#"> <abbr id="sc2" title="{{point.id_Sc2.objectif}}"> {{ point.id_Sc2 }} </abbr> </a>
                   </h3>
                </div>

                {% if point.id_Sc3 != None %}
                 <div class="card-title" >
                   <h4>
                         <a href="#"> <abbr id="sc3" title="{{point.id_Sc3.objectif}}"> &nbsp;{{ point.id_Sc3 }} </abbr> </a>
                   </h4>
                 </div>

                  {% endif %}
                  {% endif %}
                  {% endif %}
                <div class="point" id="point_titre">
                    <p> {{ point.titre }}</p>
                </div>
                <div class="card-descri" id="point_descri" >
                    <p> {{ point.point }} </p>
                </div>
                <div class="card-quizz">
                    <ul id="questions">

                        {% for q in questions %}
                         <li>
                           <div class="inline-block">
                             <div class="question">{{ q.question }}</div>
                             <div class="check">
                             <label> <input type="radio" id="{{q.id_qst}}_oui" name="choice-radio{{forloop.counter}}" value="oui"> Oui </label> &nbsp;&nbsp;
                             <label> <input type="radio" id="{{q.id_qst}}_non" name="choice-radio{{forloop.counter}}" value="non"> Non </label>
                             </div>
                             <div class="comment">
                             <input class="custom-search-input"  id="com{{forloop.counter}}" placeholder="com{{forloop.counter}}" >
                             </div>
                           </div>
                         </li>
                        {% endfor %}
                    </ul>

                </div>

              </div>
               <div class="card-footer">

                 <a href="#" id="previous" class="previous round"><i class="fa-solid fa-chevron-left"></i></a>
                 <a href="#" id="next" class="next round"><i class="fa-solid fa-chevron-right"></i></a>
                 <a href="/home" id="fin" class="next round disp"><i class="fa-solid fa-floppy-disk"></i></a>

            <div id="point" data-value="{{ point.id_point }}">  </div>
            <div id="test" data-value="{{ id_test }}">  </div>

            <div id="nb_qst" data-value="{{ i }}"></div>
                </div>
           </div>


        </div>

    </div>











   <script type="text/javascript"  src="https://apiv2.popupsmart.com/api/Bundle/383450" async></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
    var hamburger = document.querySelector(".hamburger");
    hamburger.addEventListener("click", function(){
        document.querySelector("body").classList.toggle("active");
    })
   </script>
   <script type="text/javascript">
    var next = document.querySelector(".next");
    next.addEventListener("click", function(){


        var size= document.getElementById("nb_qst").getAttribute('data-value');
        var point=document.getElementById("point").getAttribute('data-value');
        var test=document.getElementById("test").getAttribute('data-value');


        var com= "";
        var rep = "";

        for(let i=1; i<=size; i++) {

         r= document.querySelector('input[name="choice-radio'+i+'"]:checked').value;
         if ( i == 1) {
         rep = rep +r;

         com = com  + document.getElementById("com"+i).value;}

         else { rep = rep + ";" +r;

         com = com + ";" + document.getElementById("com"+i).value;
         }

        }

        var el=document.getElementById("questions");
         /* el.textContent=rep; */

              $.ajax({
                type : 'GET',
                url : "../../../ajax/",
                dataType:'json',
                data : {
                  'test':test,
                  'point':point,
                  'rep':rep,
                  'com':com
                },
                success:function(response){

                if (response.end==0){
                 if(response.cas==0){
                document.getElementById("questions").innerHTML=response.quizz;
                document.getElementById("point_titre").textContent=response.point;
                document.getElementById("point_descri").textContent=response.point_descri;
                document.getElementById("point").setAttribute('data-value',response.id);
                }
                 if(response.cas==1){

                document.getElementById("questions").innerHTML=response.quizz;
                document.getElementById("point_titre").textContent=response.point;
                document.getElementById("point_descri").textContent=response.point_descri;
                document.getElementById("point").setAttribute('data-value',response.id);
                document.getElementById("sc3").textContent=response.sc3;
                document.getElementById("sc3").setAttribute('title',response.sc3_des);
                 }

                 if(response.cas==2){
                document.getElementById("questions").innerHTML=response.quizz;
                document.getElementById("point_titre").textContent=response.point;
                document.getElementById("point_descri").textContent=response.point_descri;
                document.getElementById("point").setAttribute('data-value',response.id);
                document.getElementById("sc2").textContent=response.sc2;
                document.getElementById("sc2").setAttribute('title',response.sc2_des);
                document.getElementById("sc3").textContent=response.sc3;
                document.getElementById("sc3").setAttribute('title',response.sc3_des);
                 }

                if(response.cas==3){
                document.getElementById("questions").innerHTML=response.quizz;
                document.getElementById("point_titre").textContent=response.point;
                document.getElementById("point_descri").textContent=response.point_descri;
                document.getElementById("point").setAttribute('data-value',response.id);
                document.getElementById("sc1").textContent=response.sc1;
                document.getElementById("sc1").setAttribute('title',response.sc1_des);
                document.getElementById("sc2").textContent=response.sc2;
                document.getElementById("sc2").setAttribute('title',response.sc2_des);
                document.getElementById("sc3").textContent=response.sc3;
                document.getElementById("sc3").setAttribute('title',response.sc3_des);
                 }
               if(response.cas==4){
                document.getElementById("questions").innerHTML=response.quizz;
                document.getElementById("point_titre").textContent=response.point;
                document.getElementById("point_descri").textContent=response.point_descri;
                document.getElementById("point").setAttribute('data-value',response.id);
                document.getElementById("chap").textContent=response.chap;
                document.getElementById("chap").setAttribute('title',response.chap_des);

                document.getElementById(response.chapid).classList.add("active");

                document.getElementById(response.chapprec).classList.remove("active");
                document.getElementById("sc1").textContent=response.sc1;
                document.getElementById("sc1").setAttribute('title',response.sc1_des);
                document.getElementById("sc2").textContent=response.sc2;
                document.getElementById("sc2").setAttribute('title',response.sc2_des);
                document.getElementById("sc3").textContent=response.sc3;
                document.getElementById("sc3").setAttribute('title',response.sc3_des);
                 }

                }
                else {

                if(response.end==1){
                  document.getElementById("fin").classList.remove('disp');
                  document.getElementById("next").classList.add('disp');

                }
                else {alert(response.end);}

                }


                },

                error:function(jqXHR, textStatus, errorThrown){

                     var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connect.\n Verify Network.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [404]';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500].';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed.';
        } else if (exception === 'timeout') {
            msg = 'Time out error.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
        $('#post').html(msg);
                  alert(msg);

                }
              });
              return false;
    })

    </script>


<script type="text/javascript">
    var next = document.querySelector(".previous");
    next.addEventListener("click", function(){

        var point=document.getElementById("point").getAttribute('data-value');
        var test=document.getElementById("test").getAttribute('data-value');



              $.ajax({
                type : 'GET',
                url : "../../../prec/",
                dataType:'json',
                data : {
                  'test':test,
                  'point':point,
                },
                success:function(response){


                document.getElementById("questions").innerHTML=response.quizz;
                document.getElementById("point_titre").textContent=response.point;
                document.getElementById("point_descri").textContent=response.point_descri;
                document.getElementById("point").setAttribute('data-value',response.id);
                document.getElementById("chap").textContent=response.chap;
                document.getElementById("chap").setAttribute('title',response.chap_des);
              if ( response.chapid != response.chapprec ) {
                document.getElementById(response.chapid).classList.add("active");

                document.getElementById(response.chapprec).classList.remove("active");

               }


                },

                error:function(jqXHR, textStatus, errorThrown){

                     var msg = '';
        if (jqXHR.status === 0) {
            msg = 'Not connect.\n Verify Network.';
        } else if (jqXHR.status == 404) {
            msg = 'Requested page not found. [404]';
        } else if (jqXHR.status == 500) {
            msg = 'Internal Server Error [500].';
        } else if (exception === 'parsererror') {
            msg = 'Requested JSON parse failed.';
        } else if (exception === 'timeout') {
            msg = 'Time out error.';
        } else if (exception === 'abort') {
            msg = 'Ajax request aborted.';
        } else {
            msg = 'Uncaught Error.\n' + jqXHR.responseText;
        }
        $('#post').html(msg);
                  alert(msg);

                }
              });
              return false;
    })

    </script>

</body>
</html>