{% extends 'Admin/layouts/base-fullscreen.html' %}

{% block title %} Se connecter {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--9 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-1">
              <div class="text-muted text-center mt-2 mb-3">
                Connectez-vous !
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-5">

                {% if msg %}
                  <p>{{ msg }}</p>
                {% else %}
                  <p>
                    Saisissez vos identifiants.
                  </p>

                {% endif %}  

              </div>

              <form method="POST">

                {% csrf_token %}

                   <div class="inline-block">
                    <label for="email" >E-mail</label>
                    <input class="input " type="text" id="email" >
                  </div>
                <span class="error" id="erroremail"></span>
                  <div class="inline-block">
                    <label for="mdp" >Mot de passe</label>
                    <input class="input" type="password" id="mdp"  >
                  </div>

                <br>
                <div class="text-center">
                  <a  href="#" id="btn" class="btn btn-primary my-4">Se connecter</a>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>

var email = document.getElementById("email");
var mdp = document.getElementById("mdp");
var rep= 0;

$('#mdp').bind('change', function() {

str=mdp.value;

if( str == "") {
          mdp.classList.add('false');
          rep=1;
    } else{mdp.classList.remove('false');  rep=0;}

});


$('#email').bind('change', function() {

if( !email.value.match(/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)) {
         email.classList.add('false');
         msg = "<p class='error'>Cet email n'est pas valide.</p>";
                   rep=1;

    } else{ email.classList.remove('false');
     msg="";
     rep=0;
     }

    document.getElementById('erroremail').innerHTML=msg;

});








  document.getElementById('btn').addEventListener('click',function(){


    if( email.value == "") {
          email.classList.add('false');
          rep=1;
    } else{

        if(rep==0)

          {email.classList.remove('false'); }}
    if( mdp.value == "") {
          mdp.classList.add('false');
          rep=1;
    } else{mdp.classList.remove('false');  rep=0;}

    if (rep == 1) { return; }
    var data = new FormData();
    csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
	data.append("csrfmiddlewaretoken", csrf_token);
	data.append("email", email.value);
	data.append("mdp",mdp.value);



	             $.ajax({
					    type: 'post',
						url: '/cnx/', // point to server-side URL
						dataType: 'json', // what to expect back from server
						data: data,
						cache: false,
						contentType: false,
						processData: false,
						success: function (response) { // display success response



                         if( response.err==1){


                         alert(response.erreur);


                         }

                         else {
                            if( response.ad == true) {
                            window.location.replace("/admin/");
                            }
                            else{
                            window.location.replace("/home/");
                            }
                         }


						},
						error: function (jqXHR, textStatus, errorThrown) {
							                  var msg = '';

                                  if (jqXHR.status === 0) {
                                       msg = 'Not connect.\n Verify Network.';
                                  } else if (jqXHR.status == 404) {
                                       msg = 'Requested page not found. [404]';
                                  } else if (jqXHR.status == 500) {
                                       msg = 'Internal Server Error [500].';
                                  } else if (exception === 'parsererror') {
                                       msg = 'Requested JSON parse failed.';
                                  } else if (exception === 'timeout') {
                                       msg = 'Time out error.';
                                  } else if (exception === 'abort') {
                                       msg = 'Ajax request aborted.';
                                  } else {
                                       msg = 'Uncaught Error.\n' + jqXHR.responseText;
                                  }
					                   alert(msg);
					    }
					   });






  });

</script>


{% endblock javascripts %}
