{% extends 'Admin/layouts/base-fullscreen.html' %}

{% block title %} Se connecter {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Page content -->
     <div class="container mt--10 pb-5" >
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-1">
              <div class="text-muted text-center mt-2 mb-3">
                Inscrivez vous !
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-5">

                {% if msg %}
                  <p>{{ msg }}</p>
                {% else %}
                  <p>
                    Saisissez vos données.
                  </p>

                {% endif %}

              </div>

              <form method="POST">

                {% csrf_token %}

                  <div class="inline-block">
                    <label for="email" >E-mail</label>
                    <input class="input " type="text" id="email" >
                  </div>
                  <div class="inline-block">
                    <label for="nom" >Nom</label>
                    <input class="input" type="text" id="nom"  >
                  </div>
                  <div class="inline-block">
                    <label for="prenom" >Prénom</label>
                    <input class="input" type="text" id="prenom"  >
                  </div>
                  <div class="inline-block">
                    <label for="entreprise" >Entreprise</label>
                    <input class="input" type="text" id="entreprise"  >
                  </div>
                  <div class="inline-block">
                    <label for="mdp" >Mot de passe</label>
                    <input class="input" type="password" id="mdp"  >
                  </div>

                <br>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Se connecter</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
